exportPattern("^[[:alpha:]]+")
exportMethods(
    "crp.calc.portfolio.statistics",
    "crp.CSFP.loss",
    "crp.CSFP.rc.sd",
    "crp.CSFP.rc.vares",
    "crp.CSFP",
    "crp.export",
    "crp.integrity.check",
    "crp.measure",
    "crp.plausi",
    "crp.plot",
    "crp.read",
    "crp.set.changes",
    "crp.summary",
    "crp.write.summary",
    "get.a",
    "get.ALPHA.crp",
    "get.ALPHA.MAX",
    "get.ALPHA",
    "get.B",
    "get.CALC.RISK.CONT",
    "get.CDF",
    "get.changes.crp.calc.portfolio.statistics",
    "get.changes.crp.CSFP.loss",
    "get.changes.crp.CSFP.rc.sd",
    "get.changes.crp.CSFP.rc.vares",
    "get.changes.crp.export",
    "get.changes.crp.measure",
    "get.changes.crp.plausi",
    "get.changes.crp.plot",
    "get.changes.crp.read",
    "get.CP.NR",
    "get.CP.RATING",
    "get.EC",
    "get.EL.crp",
    "get.EL",
    "get.ES.CONT",
    "get.ES.TAU.CONT",
    "get.ES",
    "get.file.format",
    "get.LGD",
    "get.LOSS.UNIT",
    "get.LOSS",
    "get.M",
    "get.MU.K",
    "get.NAME",
    "get.NC",
    "get.NEX",
    "get.NITER.MAX",
    "get.NS",
    "get.NU",
    "get.PATH.IN",
    "get.PATH.OUT",
    "get.PD",
    "get.PD0",
    "get.PDF",
    "get.PDVAR.NAME",
    "get.PL",
    "get.PL0",
    "get.PLOT.PDF",
    "get.PLOT.RANGE.X",
    "get.PLOT.RANGE.Y",
    "get.PLOT.SCALE",
    "get.PORT.NAME",
    "get.rating.PD",
    "get.rating.SD",
    "get.rating",
    "get.RISK.NAME",
    "get.save.memory",
    "get.SD.CONT",
    "get.SD.crp",
    "get.SD",
    "get.SEC.VAR.EST",
    "get.SEC.VAR",
    "get.SELV",
    "get.SIGMA.K",
    "get.SIGMA2_DIV",
    "get.SIGMA2_SYST",
    "get.V.K",
    "get.VaR.CONT",
    "get.VaR",
    "get.W",
    "set.ALPHA<-",
    "set.CALC.RISK.CONT<-",
    "set.file.format<-",
    "set.LOSS.UNIT<-",
    "set.NAME<-",
    "set.NITER.MAX<-",
    "set.PATH.IN<-",
    "set.PATH.OUT<-",
    "set.PDVAR.NAME<-",
    "set.PLOT.PDF<-",
    "set.PLOT.RANGE.X<-",
    "set.PLOT.RANGE.Y<-",
    "set.PLOT.SCALE<-",
    "set.PORT.NAME<-",
    "set.RISK.NAME<-",
    "set.save.memory<-",
    "set.SEC.VAR.EST<-" 
)
exportClasses(
    "crp.CSFP" 
)
