exportPattern("^[[:alpha:]]+")
exportMethods(
    "a",
    "alpha.crp",
    "alpha.max",
    "alpha.max<-",
    "alpha",
    "alpha<-",
    "B",
    "calc.portfolio.statistics",
    "calc.rc",
    "calc.rc<-",
    "CDF",
    "changes.calc.portfolio.statistics",
    "changes.export",
    "changes.loss",
    "changes.measure",
    "changes.plausi",
    "changes.plot",
    "changes.rc.sd",
    "changes.rc.vares",
    "changes.read",
    "CP.NR",
    "CP.NR<-",
    "CP.rating",
    "CP.rating<-",
    "crp.CSFP",
    "EC",
    "EL.crp",
    "EL",
    "ES.cont",
    "ES.tau.cont",
    "ES",
    "export.to.file",
    "export.to.file<-",
    "export",
    "file.format",
    "file.format<-",
    "integrity.check",
    "LGD",
    "LGD<-",
    "loss.dist",
    "loss.unit",
    "loss.unit<-",
    "loss",
    "M",
    "measure",
    "mu.k",
    "name",
    "name<-",
    "NC",
    "NEX",
    "NEX<-",
    "Niter.max",
    "Niter.max<-",
    "NS",
    "nu",
    "path.in",
    "path.in<-",
    "path.out",
    "path.out<-",
    "PD.crp",
    "PD",
    "PDF",
    "sec.var.name",
    "sec.var.name<-",
    "PL.crp",
    "PL",
    "plausi",
    "PLOT.PDF",
    "PLOT.PDF<-",
    "PLOT.range.x",
    "PLOT.range.x<-",
    "PLOT.range.y",
    "PLOT.range.y<-",
    "PLOT.scale",
    "PLOT.scale<-",
    "plot",
    "port.name",
    "port.name<-",
    "rating.PD",
    "rating.PD<-",
    "rating.scale.name",
    "rating.scale.name<-",
    "rating.SD",
    "rating.SD<-",
    "rating",
    "rating<-",
    "rc.sd",
    "rc.vares",
    "read",
    "save.memory",
    "save.memory<-",
    "SD.cont",
    "SD.crp",
    "SD",
    "sec.var.est",
    "sec.var.est<-",
    "sec.var",
    "sec.var<-",
    "set.changes",
    "show",
    "sigma_k",
    "sigma_sqr_div",
    "sigma_sqr_syst",
    "summary",
    "VaR.cont",
    "loss.k",
    "VaR.pos",
    "VaR",
    "W",
    "W<-",
    "write.summary",
    "crp.CSFP"
)
exportClasses("crp.CSFP")
import(methods,MASS,utils,graphics)
