exportPattern("^[[:alpha:]]+")
exportMethods(
    "a",
    "alpha.crp",
    "alpha.max",
    "alpha.max<-",
    "alpha",
    "alpha<-",
    "B",
    "calc.portfolio.statistics",
    "calc.rc",
    "calc.rc<-",
    "CDF",
    "changes.calc.portfolio.statistics",
    "changes.export",
    "changes.loss",
    "changes.measure",
    "changes.plausi",
    "changes.plot",
    "changes.rc.sd",
    "changes.rc.vares",
    "changes.read",
    "CP.NR",
    "CP.NR<-",
    "CP.rating",
    "CP.rating<-",
    "crp.CSFP",
    "EC",
    "EL.crp",
    "EL",
    "ES.cont",
    "ES.tau.cont",
    "ES",
    "export.to.file",
    "export.to.file<-",
    "export",
    "file.format",
    "file.format<-",
    "integrity.check",
    "LGD",
    "LGD<-",
    "loss.dist",
    "loss.unit",
    "loss.unit<-",
    "loss",
    "M",
    "measure",
    "mu.k",
    "name",
    "name<-",
    "NC",
    "NEX",
    "NEX<-",
    "Niter.max",
    "Niter.max<-",
    "NS",
    "nu",
    "path.in",
    "path.in<-",
    "path.out",
    "path.out<-",
    "PD.crp",
    "PD",
    "PDF",
    "sec.var.name",
    "sec.var.name<-",
    "PL.crp",
    "PL",
    "plausi",
    "PLOT.PDF",
    "PLOT.PDF<-",
    "PLOT.range.x",
    "PLOT.range.x<-",
    "PLOT.range.y",
    "PLOT.range.y<-",
    "PLOT.scale",
    "PLOT.scale<-",
    "plot",
    "port.name",
    "port.name<-",
    "rating.PD",
    "rating.PD<-",
    "rating.scale.name",
    "rating.scale.name<-",
    "rating.SD",
    "rating.SD<-",
    "rating",
    "rating<-",
    "rc.sd",
    "rc.vares",
    "read",
    "save.memory",
    "save.memory<-",
    "SD.cont",
    "SD.crp",
    "SD",
    "sec.var.est",
    "sec.var.est<-",
    "sec.var",
    "sec.var<-",
    "set.changes",
    "show",
    "sigma.k",
    "sigma.sqr.div",
    "sigma.sqr.syst",
    "summary",
    "VaR.cont",
    "loss.k",
    "VaR.pos",
    "VaR",
    "W",
    "W<-",
    "write.summary",
    "crp.calc.portfolio.statistics",
    "crp.CSFP.loss",
    "crp.CSFP.rc.sd",
    "crp.CSFP.rc.vares",
    "crp.CSFP",
    "crp.export",
    "crp.measure",
    "crp.plausi",
    "crp.plot",
    "crp.read",
    "crp.set.changes",
    "crp.summary",
    "crp.write.summary",
    "get.a",
    "get.ALPHA.crp",
    "get.ALPHA.MAX",
    "get.ALPHA",
    "get.B",
    "get.CALC.RISK.CONT",
    "get.CDF",
    "get.changes.crp.calc.portfolio.statistics",
    "get.changes.crp.CSFP.loss",
    "get.changes.crp.CSFP.rc.sd",
    "get.changes.crp.CSFP.rc.vares",
    "get.changes.crp.export",
    "get.changes.crp.measure",
    "get.changes.crp.plausi",
    "get.changes.crp.plot",
    "get.changes.crp.read",
    "get.CP.NR",
    "get.CP.RATING",
    "get.EC",
    "get.EL.crp",
    "get.EL",
    "get.ES.CONT",
    "get.ES.TAU.CONT",
    "get.ES",
    "get.file.format",
    "get.LGD",
    "get.LOSS.UNIT",
    "get.LOSS",
    "get.M",
    "get.MU.K",
    "get.NAME",
    "get.NC",
    "get.NEX",
    "get.NITER.MAX",
    "get.NS",
    "get.NU",
    "get.PATH.IN",
    "get.PATH.OUT",
    "get.PD",
    "get.PD0",
    "get.PDF",
    "get.PDVAR.NAME",
    "get.PL",
    "get.PL0",
    "get.PLOT.PDF",
    "get.PLOT.RANGE.X",
    "get.PLOT.RANGE.Y",
    "get.PLOT.SCALE",
    "get.PORT.NAME",
    "get.rating.PD",
    "get.rating.SD",
    "get.rating",
    "get.RISK.NAME",
    "get.save.memory",
    "get.SD.CONT",
    "get.SD.crp",
    "get.SD",
    "get.SEC.VAR.EST",
    "get.SEC.VAR",
    "get.SELV",
    "get.SIGMA.K",
    "get.SIGMA2_DIV",
    "get.SIGMA2_SYST",
    "get.V.K",
    "get.VaR.CONT",
    "get.VaR",
    "get.W",
    "set.ALPHA<-",
    "set.CALC.RISK.CONT<-",
    "set.file.format<-",
    "set.LOSS.UNIT<-",
    "set.NAME<-",
    "set.NITER.MAX<-",
    "set.PATH.IN<-",
    "set.PATH.OUT<-",
    "set.PDVAR.NAME<-",
    "set.PLOT.PDF<-",
    "set.PLOT.RANGE.X<-",
    "set.PLOT.RANGE.Y<-",
    "set.PLOT.SCALE<-",
    "set.PORT.NAME<-",
    "set.RISK.NAME<-",
    "set.save.memory<-",
    "set.SEC.VAR.EST<-"  
)
exportClasses(
    "crp.CSFP" 
)
